
*{
    margin:0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300;1,700&family=Poppins:wght@200;500&family=Raleway&family=Rubik&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Inter:wght@300;400;600;800&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300;1,700&family=Poppins:wght@200;500&family=Raleway&family=Rubik&display=swap');


body{
    font-family: 'Baloo Thambi 2', system-ui;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;

    font-family: 'Baloo Thambi 2', system-ui;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;
}

      /*Home*/

.banner{
    background-image: url(../img/Banner\ Image.png);
    width:990px;
	height:450px;
    background-size: cover;
   
}
.title{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 26px;
    font-weight: 300;
}
.banner-title{
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 70px;
    font-weight: 700;

}

    /*Discount*/

.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 25px;
}

.discount-info{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight:500;
}

.discount-title{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size:36px;
    font-weight: 700;
    margin-top: 5px;
}

/* Content */

.new-img{
   margin-left: 60px;
}

.content{
    background-image: url(../img/Vectorrr.png);
    height:600px;
    display: flex;
    padding-left: 70px;
    justify-content: space-between;
    margin-top:50px;
}
.content-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 800;
    line-height: 88px;
    margin-top:100px;
    margin-bottom: 15px;
}
.content-p{
    color: #FFF;
    font-family: Inter;
    font-size:18px;
    font-weight: 300;
    margin-bottom: 30px;
}
.btn{
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 35px;
    margin-top: 20px;
}
.btn:hover{
    color: black;
}
.pic{
    height: 500px;
    width: 300px;
    margin-top: 60px;
}

/*place Time*/

#place{
    padding: 120px;
    margin: 130px 0px ;
    background-color: antiquewhite;
    text-align: center;

}
.place-style{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 28px;
font-weight: 600;

}
.place-info{
color: #070211;
font-family: Inter;
font-size: 23px;
font-weight: 600;
}

/*offer */

.offer{
    display: flex;
    margin: 20px 10px;
}

.offer-title h6{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 400;

}
.offer-title h2{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 800
}
.offer-title p{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 18px;
font-weight: 300;
margin-right: 30px;
}


.offer-pic{
    border-radius: 463px;
    border: 15px solid #F00;
    text-align: center;
    margin: 0 50px;
    margin-bottom: 15px;
}
.offer-pic img{
    width: 250px;
    height: 250px;
}

.offer-date{
    color: #F00;
    font-family: IOpen Sans;
    font-size: 48px;
    font-weight: bold;
    font-weight: 700;
    margin-bottom: 15px;
}
.offer-time p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.offer-time img{
    width: 100px;
    height: 100px;
    justify-content: center;
    margin-top: 50px;
    
}

/* sale offer*/

.sale-offer{
    margin-top: 50px;
    text-align: center;
}
.sale-offer h5{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.sale-offer span{
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.sale-offer h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.sale-offer p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 185px 150px 80px;
}

.sale-photo{
    display: flex;
    position: relative;
    margin-bottom: 30px;
    
}
.photo1{
    position: absolute;
    z-index: 1;
    width: 560px;
    height: 450px;
}
.photo2{
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 200px;
    left: 474px;
    top: 60px;
}
.photo3{
    position: relative;
    z-index: 0;
    left: 585px;
    top: -106px;
    width: 423px;
    height: 420px;


}
.color{
    position: relative;
    width:100%;
    height:125px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    margin-top: -150px;
    margin-bottom: 5px;
}


/*photo Gallery */

.gallery-info{
    
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    

}

.gallery{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    
}

.gallery-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.gallery-desciption{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.box{
    margin-bottom: 40px;
}
.box-img{
    margin: 10px;
    height: 320px;
    width: 300px;
}

/* News Items*/
.news-title{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 20px 0px;
}
.img-gmail{
    width:120px;
    height: 120px;
    margin-top: 60px;
    margin-bottom: 10px;
}
.gmail-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.gmail-p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 100px;
}
.email{
    margin-top: 20px;
    margin-bottom: 60px;
}  
.email input{
    font-size: 14px;
    padding: 10px 70px;
    border-radius: 17px;
    border: none;
}
.Subscribe{
    display: inline-block;
    margin-left: -5%;
    border: none;
}
.Subscribe h2{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

/*footer*/

footer{
    background-color: black;
}
.main-content{
    color: #FFF;
    gap: 200px;
    display: flex;
    padding: 50px 70px;
}
.footer-d{
     color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.number{
    background-image: url(../img/Call.png);
    background-repeat: no-repeat;
    margin-left:-20px;
    display: flex;
    justify-content: flex-end;
    padding:6px 27px;
}
.web{
    background-image: url(../img/Website.png);
    background-repeat: no-repeat;
    margin-left:-20px;
    display: flex;
    justify-content: flex-end;
    padding:4px 16px;
}
.social{
    text-align: center;
    margin: 30px 0px;
}
.social-icon{
    padding: 0 5px;
}
hr{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #3b76ad;
    margin: 20px 0;
}
.copy{
    color: #FFF;
    gap: 515px;
    display: flex;
    padding: 30px 67px;
}