
*{
    margin:0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300;1,700&family=Poppins:wght@200;500&family=Raleway&family=Rubik&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Inter:wght@300;400;600;800&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300;1,700&family=Poppins:wght@200;500&family=Raleway&family=Rubik&display=swap');


body{
    font-family: 'Baloo Thambi 2', system-ui;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;

    font-family: 'Baloo Thambi 2', system-ui;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;
}


.banner{
    background-image: url(../img/Banner\ Image.png);
    width:990px;
	height:450px;
    background-size: cover;
   
}
.title{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 26px;
    font-weight: 300;
}
.banner-title{
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 70px;
    font-weight: 700;

}

.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 25px;
}

.discount-info{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight:500;
}

.discount-title{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size:36px;
    font-weight: 700;
    margin-top: 5px;
}

.new-img{
   margin-left: 60px;
}

.content{
    background-image: url(../img/Vectorrr.png);
    height:600px;
    display: flex;
    padding-left: 70px;
    justify-content: space-between;
    margin-top:50px;
}
.content-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 800;
    line-height: 88px;
    margin-top:100px;
    margin-bottom: 15px;
}
.content-p{
    color: #FFF;
    font-family: Inter;
    font-size:18px;
    font-weight: 300;
    margin-bottom: 30px;
}
.btn{
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 35px;
    margin-top: 20px;
}
.btn:hover{
    color: black;
}
.pic{
    height: 500px;
    width: 300px;
    margin-top: 60px;
}


#place{
    padding: 120px;
    margin: 130px 0px ;
    background-color: antiquewhite;
    text-align: center;

}
.place-style{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 28px;
font-weight: 600;

}
.place-info{
color: #070211;
font-family: Inter;
font-size: 23px;
font-weight: 600;
}

.gallery-info{
    margin: 0px 15px;

}

.gallery{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    
}

.gallery-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.gallery-desciption{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.box{
    margin-bottom: 40px;
}
.box-img{
    width: 300px;
    height: 320px;
  
    margin: 10px;
   
    
}

.news-title{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 20px 0px;
}
.img-gmail{
    width:120px;
    height: 120px;
    margin-top: 60px;
    margin-bottom: 10px;
}
.gmail-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.gmail-p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 100px;
}
.email{
    margin-top: 20px;
    margin-bottom: 60px;
}  
.email input{
    font-size: 14px;
    padding: 10px 70px;
    border-radius: 17px;
    border: none;
}
.Subscribe{
    display: inline-block;
    margin-left: -5%;
    border: none;
}
.Subscribe h2{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}
.footer{
    background: #070211;
    width: 100%;
    height: 300px;
   
    
}
.footer-info{
    display: flex;
}
.footer-d{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
}
.footer-number{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
}
.footer-site{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
}